[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
click = "*"
mistune = "==2.0.0rc1"
gitpython = "*"
tqdm = "*"
"aws-cdk.core" = "==1.123.0"
"aws-cdk.aws-ecr" = "*"
"aws-cdk.aws-iam" = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
