[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[packages]
click = "*"
mistune = "==2.0.0rc1"
gitpython = "*"
tqdm = "*"
boto3 = "*"
cattrs = "*"
pygithub = "*"

[dev-packages]
black = "==21.10b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
